{% block main %}
    {% if messages %}
    <div class="notification">
        {{ messages }}
    </div>
    {% endif %}
    
        <body>
            <div class="container">
                <h1>Profil de l'entreprise</h1>
                {% if company %}
                    <div class="card">
                        <h2 class="card-title">
                            {{ company.name }}
                        </h2>
                        <div class="card-content">
                            <p class="activity-title">
                                <strong>Secteur d'activité:</strong>
                                {{ company.activity }}
                            </p>
                            <div class="materialsCtn">
                                <div class="materialsDetails">
                                    <div class="products">
                                        <strong>Produits</strong>
                                        <ul class="products-list">
                                            {% for material in company.products %}
                                                <li>
                                                    <p>
                                                        {{ material.name }}
                                                        <br>
                                                        <a class="editBtn" onclick="openMaterialModal('product', '{{ material.id }}')">
                                                            <i class="fas fa-pen"></i>
                                                        </a>
                                                        <a href="/deleteMaterial/products/{{ material.id }}">
                                                            <i class="fas fa-trash"></i>
                                                        </a>
                                                    </p>
                                                </li>
                                            {% endfor %}
                                            {% if not company.products %}
                                                <button class="addBtn" onclick="openMaterialModal('product')">
                                                    <i class="fas fa-plus"></i>
                                                </button>
                                            {% endif %}
                                        </ul>
                                    </div>
                                    <div class="needs">
                                        <strong>Besoins</strong>
                                        <ul class="needs-list">
                                            {% for material in company.materialsNeeded %}
                                                <li>
                                                    <p>
                                                        {{ material.name }}
                                                        <br>
                                                        <a class="editBtn" onclick="openMaterialModal('needed', '{{ material.id }}')">
                                                            <i class="fas fa-pen"></i>
                                                        </a>
                                                        <a href="/deleteMaterial/needed/{{ material.id }}">
                                                            <i class="fas fa-trash"></i>
                                                        </a>
                                                    </p>
                                                </li>
                                            {% endfor %}
                                            {% if not company.materialsNeeded %}
                                                <button class="addBtn" onclick="openMaterialModal('needed')">
                                                    <i class="fas fa-plus"></i>
                                                </button>
                                            {% endif %}
                                        </ul>
                                    </div>
                                    <div class="wastes">
                                        <strong>Déchets</strong>
                                        <ul class="waste-list">
                                            {% for material in company.wasteMaterials %}
                                                <li>
                                                    <p>
                                                        {{ material.name }}
                                                        <br>
                                                        <a class="editBtn" onclick="openMaterialModal('wasted', '{{ material.id }}')">
                                                            <i class="fas fa-pen"></i>
                                                        </a>
                                                        <a href="/deleteMaterial/waste/{{ material.id }}">
                                                            <i class="fas fa-trash"></i>
                                                        </a>
                                                    </p>
                                                </li>
                                            {% endfor %}
                                            {% if not company.wasteMaterials %}
                                                <button class="addBtn" onclick="openMaterialModal('wasted')">
                                                    <i class="fas fa-plus"></i>
                                                </button>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="company-links">
                        <button>
                            <a href="/updateCompany/{{ company.id }}">Modifier</a>
                        </button>
                        <button>
                            <a href="/deleteCompany/{{ company.id }}">Supprimer</a>
                        </button>
                        <button>
                            <a href="/companyDetails/{{ company.id }}">Voir détails</a>
                        </button>
                    </div>
                {% else %}
                    <p class="info-company">Aucune information disponible pour cette entreprise.</p>
                {% endif %}
            </div>
        </body>
    
{% endblock %}
