{% extends "/index.html.twig" %}
{% set showHeader = true %}
{% block main %}
	<div class="annCtn">
		<h1>Trouver votre entreprises</h1>
	</div>
	<div id="searchBar">
		<form action="/home-annuaire" method="GET">
			<input type="text" name="keyword" value="" placeholder="Search">
			<select name="searchType">
				<option value="activity">Secteur d'Activité</option>
				<option value="materialsNeeded">Besoins</option>
				<option value="wasteMaterials">Déchets</option>
			</select>
			<button type="submit">Search</button>
		</form>
	</div>

	<div class="annuaire-container">
		{% if companies is empty %}
			<div class="no-results-message">
				<p>Aucun résultat ne correspond à votre recherche</p>
			</div>
		{% else %}
			{% for company in companies %}
				<div class="mainCard">
					<h2 class="ann-card-title">
						<strong>Nom de l'entreprise :</strong><br>
						{{ company.name }}
					</h2>
					<div class="cardContent">
						<p>
							<strong>Secteur d'activité:</strong>
							{{ company.activity }}
						</p>

						<strong>Produits:</strong>
						<ul class="inline-list">
							{% for material in company.products %}
								<li>{{ material.name }}</li>
							{% endfor %}
						</ul>

						<br>
						<strong>Besoins:</strong>
						<ul class="inline-list">
							{% for material in company.materialsNeeded %}
								<li>{{ material.name }}</li>
							{% endfor %}
						</ul>

						<br>
						<strong>Déchets:</strong>
						<a class="details-button">
							<img id="email-icon" src="/images/email-icon.png" alt="Email">
						</a>
						<ul class="inline-list">
							{% for material in company.wasteMaterials %}
								<li>{{ material.name }}</li>
							{% endfor %}
						</ul>
					</div>
					<div class="company-links">
						<div>
							<button class="details-button">
								<a>Voir détails</a>
							</button>
							{% if session.user.isAdmin == true %}
								<button>
									<a href="/deleteCompany/{{ company.id }}">supprimer</a>
								</button>
							{% endif %}
						</div>
					</div>
					<p>
						<div class="star-rating" id="starRating">
							<span class="star {% if company.average >= 5 %}active {% endif %}" data-value="5">&#9733;</span>
							<span class="star {% if company.average >= 4 %}active {% endif %}" data-value="4">&#9733;</span>
							<span class="star {% if company.average >= 3 %}active {% endif %}" data-value="3">&#9733;</span>
							<span class="star {% if company.average >= 2 %}active {% endif %}" data-value="2">&#9733;</span>
							<span class="star {% if company.average >= 1 %}active {% endif %}" data-value="1">&#9733;</span>
						</div>
					</p>
					<div class="company-notes">
						<div class="company-rating">
							<p>Évaluation:
								{{ company.average }}/5</p>
						</div>
						<div class="company-reviews">
							{% set numberOfEvaluations = company.evaluations|length %}
							<p>{{ numberOfEvaluations }}
								avis</p>
						</div>
					</div>
					<div class="map-ctn">
						<div class="map-wrapper"></div>
						<div id="map{{loop.index0}}" data-address="{{ company.address }}" class="map"></div>
					</div>
				</div>
			{% endfor %}
		{% endif %}
	</div>
</div>

 <div id="popup-details" class="popup">
        <span class="close">&times;</span>
    <p>Vous avez trouvé votre besoin et vous voulez plus de détails<br>et contacter une entreprise.<br></p>
        <a class="popup-register" href="/signup"> Rejoignez-nous!</a>
    </div>



{% block script %}
	<script src="/js/map.js"></script>
	<script src="/js/script.js"></script>
{% endblock %}
{% endblock %}
