{% extends "/index.html.twig" %}

{% block main %}
    <h1>Détails des entreprises inscrites</h1>
    <div id="searchBar">
        <form action="/annuaire" method="GET">
            <input type="text" name="keyword" value="" placeholder="Search">
            <select name="searchType">
                <option value="activity">Secteur d'Actvité</option>
                <option value="materialsNeeded">Besoins</option>
                <option value="wasteMaterials">Déchets</option>
            </select>
            <button type="submit">Search</button>
        </form>
    </div>

    {% for company in companies %}
        <div class="mainCard">
            <h2 class="cardTitle">
                <strong>Nom de l'entreprise :</strong>
                {{ company.name }}
            </h2>
            <div class="cardContent">
                <p>
                    <strong>Secteur d'activité:</strong>
                    {{ company.activity }}
                </p>
                <p>
                    <strong>Produits:</strong>
                    <ul>
                        {% for material in company.products %}
                            <li>Nom : {{ material.name }}</li>
                        {% endfor %}
                    </ul>
                </p>
                <p>
                    <strong>Besoins:</strong>
                    <ul>
                        {% for material in company.materialsNeeded %}
                            <li>Nom de produits recherché: {{ material.name }}</li>
                        {% endfor %}
                    </ul>
                </p>
                <p>
                    <strong>Déchets:</strong>
                    <ul>
                        {% for material in company.wasteMaterials %}
                            <li>Nom: {{ material.name }}</li>
                        {% endfor %}
                    </ul>
                </p>
            </div>
            <div class="company-links">
                <button>
                    <a href="/companyDetails/{{ company.id }}">Voir détails</a>
                </button>
                <a href="/signup">
                    <i id="email-icon" class="fas fa-envelope" style="color: gold;"></i>
                </a>
            </div>
            <p>
                <div class="star-rating" id="starRating">
                    <span class="star {% if company.average >= 5 %}active {% endif %}" data-value="5">&#9733;</span>
                    <span class="star {% if company.average >= 4 %}active {% endif %}" data-value="4">&#9733;</span>
                    <span class="star {% if company.average >= 3 %}active {% endif %}" data-value="3">&#9733;</span>
                    <span class="star {% if company.average >= 2 %}active {% endif %}" data-value="2">&#9733;</span>
                    <span class="star {% if company.average >= 1 %}active {% endif %}" data-value="1">&#9733;</span>
                </div>
            </p>
            <p>Évaluation: {{ company.average }}/5 <br>basée sur : {{ company.evaluations|length }} avis</p>
            <div id="map{{loop.index0}}" data-address="{{company.address}}" class="map"></div>
        </div>
    {% endfor %}

    {% if companies is empty %}
        <p>Aucune information disponible pour cette entreprise.</p>
    {% endif %}
{% endblock %}
